body {
	display: flex-end;
	margin: 0;
	padding: 20px;
}
.logo{
	  justify-content: flex-start;
	  width: 130px;
	  height: 50px;
}
.title{
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin-top: 0px;
}
.container {
	display: flex;
	margin: 20px;
}

.image-container {
	flex: 1;
	margin-right: 20px;
}

.image-container img {
	max-width: 100%;
	height: auto;
}

.form {
	flex: 1;
}

.form div {
	margin-bottom: 10px;
}

.form label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form input,
.form textarea,
.form select {
	width: 100%;
	padding: 5px;
}

.form input[type="submit"],
.form input[type="button"] {
	margin-top: 10px;
}