@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}
body {
	max-width: 1240px;
    margin: auto;
    padding: 0px 50px;
    font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
