body {
	margin: 0;
	padding: 20px;
}

.logo{
	justify-content: flex-start;
	width: 130px;
	height: 50px;
}

.title{
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

.container {
	display: flex;
	margin: auto;	
}

.image-container {
	margin-right: 4%;
}

.image-container-box{
	width: 100%;
	height: auto;
	outline: solid var(--main-color);		
	border-radius: 10px;
	box-shadow: 0px 5px 15px 2px #a7a7a7;
}
	
.image-container img {
	max-width: 100%;
	height: auto;
}

.form {
	display: flex;
	box-shadow: 0px 5px 15px 2px #a7a7a7;
	margin: auto;
	padding: 5px;
	flex-direction: column;
	width: 70%;
	justify-content: center;
}

.form div {
	margin-bottom: 10px;
}

.form label {
	font-weight: bold;
	margin: 10px;
	margin-bottom: 5px;
}

.form input,
.form textarea,
.form select {
	box-sizing: border-box;
	resize: none;
	width: 100%;
	margin: auto;
}

.form input[type="submit"],
.form input[type="button"] {
	margin-top: 10px;
}
