.container-profile {
	max-width: 725px;
    margin: auto;
    padding: 0px 50px;
}
.container-profile form {
	display: flex;
    flex-wrap: wrap;
}
.container-profile form .form-element {
	width: 50%;
	display: flex;
}
.container-profile form .form-element label, .container-profile form .form-element input {
	width: 50%;
}