@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

:root {
  --main-color: #f8ab3f;
}
::selection {
	background: #f5dab4;
}
* {
	font-family: 'Readex Pro', sans-serif;
}
body {
    margin: auto;
    font-family: 'Readex Pro', sans-serif;
}

.container-principal, .header-margin{
    padding: 0px 50px;
   	margin: auto;
   	position: relative;
}
.container-home {
	margin-top: 60px;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style: none;
}
input:focus-visible {
	outline: none;
}

.header-margin {
    width: 80%;
	display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 85px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 2px #a7a7a7;
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--main-color);
}
.header .header-page {
	display: flex;
}
.header .header-page li {
	margin: 0px 23px;
}
.header .header-page li a {
	position: relative;
}
.header .header-page li a:before {
	content: "";
    width: 0%;
    position: absolute;
    height: 2px;
    background: var(--main-color);
    bottom: -5px;
    transition: 0.25s
}
.header .header-page li:hover a:before {
    width: 100%;
    transition: 0.25s
}
.header-image {
	display: flex;
	align-items: center;
}
.header-image img {
	height: 65px;
}

.button-style-1 {
	padding: 15px 45px;
    border: none;
    cursor: pointer;
    background: var(--main-color);
    color: #ffffff;
    border: 2px solid var(--main-color);
    transition: 0.25s;
    margin: 25px auto 0px auto;
    border-radius: 30px;
    font-size: 1rem;
}
.button-style-1:hover {
	background: white;
    color: var(--main-color);
    transition: 0.25s;
}
.button-danger {
	padding: 15px 45px;
    border: none;
    cursor: pointer;
    background: #f83f3f;
    color: #ffffff;
    border: 2px solid #f83f3f;
    transition: 0.25s;
    margin: 25px auto 0px auto;
    border-radius: 30px;
    font-size: 1rem;
}
.button-danger:hover {
	background: white;
    color: #f83f3f;
    transition: 0.25s;
}
.fa-solid.fa-coins {
	margin-left: 5px;
}
footer p{
	text-align: center;
}

#errorDiv {
	background: #ff525252;
    padding: 10px 35px;
    margin: 0px auto -50px auto;
    width: 70%;
    left: 50%-70%;
    top: 0%;
    left: 50%;
    border-left: 5px solid #db2626;
    display: flex;
    align-items: center;
    border-radius: 4px 58px;
    border-right: 5px solid #db2626;
    justify-content: space-between;
}
#errorDiv div, #successDiv div {
	margin: 0px 15px;
}
#errorDiv i, #successDiv i {
	cursor: pointer;
}

#errorDiv li, #successDiv li {
	list-style: inherit;
}

#successDiv {
    background: #5dff5252;
    padding: 10px 35px;
    margin: 0px auto -50px auto;
    width: 70%;
    left: 50%-70%;
    top: 0%;
    left: 50%;
    border-left: 5px solid #26db43;
    display: flex;
    align-items: center;
    border-radius: 4px 58px;
    border-right: 5px solid #26db43;
    justify-content: space-between;
}
.header-coin {
	font-weight: 600;
}